* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.template-editor {
  min-height: 300px;
  height: auto;
  display: block;
}

/* toolbar custom styles */

trix-toolbar {
  background: #f8f8f8;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-top: 1px solid #cecdcd;
  border-bottom: 1px solid #cecdcd;
}

trix-editor.template-editor {
  border: none;
  padding: 20px 20px;
}

trix-toolbar span.trix-button-group {
  border: none;
  margin-bottom: 0px;
}

trix-toolbar button.trix-button:not(:first-child) {
  border-left: 1px solid #bcbcbc;
}

trix-toolbar button.trix-button {
  border: none;
}
